BasedOnStyle: Google
IncludeBlocks: Preserve
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
SeparateDefinitionBlocks: Always
FixNamespaceComments: false
RawStringFormats:
  - Language: Cpp
    Delimiters: [GLSL]
    BasedOnStyle: InheritParentConfig
